@page "/prompt-creation"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@*
	@inject Blazored.LocalStorage.ILocalStorageService localStorage
*@

<PageTitle>TomaNota - Prompt Creation</PageTitle>

<div class="card bg-dark">
	<div class="card-header text-center">
		<h1>Prompt Creation</h1>
	</div>
	<div class="card-body">

		<input autocomplete='off' type="text" name="title" id="title" placeholder="Document title">

		<p>Prompt number: @Counter</p>

		<div class="form-group" id="prompt-inputs">
			<input type="text" autocomplete="off" placeholder="Heading" @bind="heading">
			<input type="text" autocomplete="off" placeholder="Body" @bind="body">
			<button @onclick="NextPropmts">Next prompt</button>
			<button @onclick="PreviousPrompts" disabled>Previous prompt</button>
		</div>

		<button id="createJson" disabled>Create</button>

	</div>
</div>

@code {
	public string heading;
	public string body;
	public List<List<string>> DocumentPrompts { get; set; } = new List<List<string>>();
	public Prompts newDocument { get; set; }
	public int Counter = 1;

	//protected override async Task OnInitializedAsync()
	//{
	// await localStorage.SetItemAsync("promptList", newDocument);
	//}

	public class Prompts
	{
		public String Title { get; set; }
		public List<List<string>> prompts { get; set; }
	}

	private void NextPropmts()
	{
		Console.WriteLine(heading + " " + body);
		List<string> thisPrompt = new List<string>() {
heading,
body
};
		//newDocument.prompts
		//Console.WriteLine(myList[0]);

		//DocumentPrompts[Counter - 1] = thisPrompt;
		//Console.WriteLine(DocumentPrompts[Counter - 1]);
		Counter += 1;
		heading = "";
		body = "";
	}

	private void PreviousPrompts()
	{
		//Console.WriteLine(heading + " " + body);
		//newDocument.prompts[Counter - 1][0] = heading;
		//newDocument.prompts[Counter - 1][1] = body;
		//Console.WriteLine(newDocument.prompts[Counter - 1]);
		//Counter -= 1;
	}
}
