@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="#" target="_blank">About</a>
        </div>

        <article class="content bg-light text-light">
            <div class="container">
                <div class="card bg-dark text-light shadow-lg">
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>
