@page "/log-in"
@inject NavigationManager NavigationManager
@inject IFirebaseAuthService FirebaseAuthService

<style>
	.form-group {
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 1em;
	}
</style>

<div class="container">
	<div class="card bg-dark">
		<div class="card-header">
			<h3>Login</h3>
		</div>
		<div class="card-body">
			<div class="container">
				<form>
					<div class="form-group">
						<label for="email">Email:</label>
						<input class="form-control" id="email" type="email" @bind="@Email" autocomplete="off" />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input class="form-control" id="password" type="password" @bind="@Password" />
					</div>
					<h4 class="text-danger text-sm-start">@ErrorText</h4>
				</form>
				<button class="btn btn-light mt-3" @onclick="LogInUser">Log In</button>
			</div>
		</div>
	</div>
</div>



@code {
	String Email = "";
	String Password = "";
	String ErrorText = "";

	async Task LogInUser()
	{
		try
		{
			var userCredential = await FirebaseAuthService.FirebaseAuthClient.SignInWithEmailAndPasswordAsync(Email, Password);
			//Console.WriteLine(userCredential.User.Info.DisplayName);
			NavigationManager.NavigateTo("/");
		}
		catch (Exception e)
		{
			Console.WriteLine(e.Message);
			ErrorText = "Invalid email or password";
		}
	}
}
