@page "/log-in"
@inject NavigationManager NavigationManager
@inject IFirebaseAuthService FirebaseAuthService

<style>
	.form-group {
		display: flex;
		flex: 0 0 auto;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 1em;
	}

	.btn-block {
		width: 100%;
	}
</style>

<div class="container">
	<div class="card bg-dark">
		<div class="card-header">
			<h3>Login</h3>
		</div>
		<div class="card-body">
			<div class="container">
				<form>
					<div class="form-group">
						<label for="email">Email:</label>
						<input class="form-control" id="email" type="email" @bind="@Email" autocomplete="off" />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input class="form-control" id="password" type="password" @bind="@Password" />
					</div>
					<small class="text-danger text-sm-start">@ErrorText</small>
				</form>

				<div class="d-flex justify-content-center mt-2">
					<button class="btn btn-primary m-1 btn-block" @onclick="LogInUser">Log In</button>
				</div>
				<div class="d-flex justify-content-center text-center">
					<small class="mt-5">Don't have an account?</small>
				</div>
				<div class="d-flex justify-content-center mt-2">
					<button class="btn btn-light m-1 btn-block" @onclick="NavigateToSignUp">Create an account</button>
				</div>
			</div>
		</div>
	</div>
</div>



@code {
	String Email = "";
	String Password = "";
	String ErrorText = "";

	async Task LogInUser()
	{
		try
		{
			var userCredential = await FirebaseAuthService.FirebaseAuthClient.SignInWithEmailAndPasswordAsync(Email, Password);
			//Console.WriteLine(userCredential.User.Info.DisplayName);
			NavigationManager.NavigateTo("/");
		}
		catch (Exception e)
		{
			// Console.WriteLine(e.Message);
			ErrorText = "Invalid email or password";
		}
	}

	public void NavigateToSignUp()
	{
		NavigationManager.NavigateTo("sign-up");
	}
}
