@page "/log-in"
@inject NavigationManager NavigationManager
@inject IFirebaseAuthService FirebaseAuthService

<div class="card bg-dark">
	<div class="card-header">
		<h3>Login</h3>
	</div>
	<div class="card-body">
		<label for="email">Email:</label>
		<input id="email" type="email" @bind="@Email" autocomplete="off" />
		<label for="password">Password:</label>
		<input id="password" type="password" @bind="@Password" />
		<button @onclick="LogInUser">Log In</button>
		<h4 class="text-danger text-sm-start">@ErrorText</h4>
	</div>
</div>



@code {
	String Email = "";
	String Password = "";
	String ErrorText = "";

	async Task LogInUser()
	{
		try
		{
			var userCredential = await FirebaseAuthService.FirebaseAuthClient.SignInWithEmailAndPasswordAsync(Email, Password);
			//Console.WriteLine(userCredential.User.Info.DisplayName);
			NavigationManager.NavigateTo("/");
		}
		catch (Exception e)
		{
			Console.WriteLine(e.Message);
			ErrorText = "Invalid email or password";

		}


		// Console.WriteLine(Javascript.InvokeAsync<String>("firebaseCreateUser", Username, Password));
	}
}
