@page "/view-document"
@page "/view-document/{title}"
@using System.Text.Json
@inject NavigationManager NavigationManager
@inject HttpClient Http
<PageTitle>View Document</PageTitle>

<style>
	.btn-block {
		width: 100%;
	}
</style>

<div class="container">
	<div class="card bg-dark text-light my-3 shadow">
		@if (returnedPrompts == null)
		{
			<p><em>Loading...</em></p>
		}
		else
		{
			<div class="card-header text-center">
				<h1>@Title</h1>
			</div>
			<div class="card-body">
				<table class="table table-dark table-hover">
					<thead>
						<tr>
							<th>Given heading</th>
							<th>Answer body</th>
							@if (ContainsScore)
							{
								<th>Current Score</th>
							}
						</tr>
					</thead>
					<tbody>
						@foreach (var prompt in returnedPrompts.Prompts)
						{
							<tr>
								<td>@prompt[0]</td>
								<td>@prompt[1]</td>
								@if (ContainsScore)
								{
									<td>@prompt[2]</td>
								}
							</tr>
						}
					</tbody>
				</table>
				<button class="btn btn-light btn-block" @onclick="NavigateToQuiz">Attempt Notes</button>
			</div>
		}
	</div>
</div>

@code {
	[Parameter]
	public String? Title { get; set; }
	private DocPrompts? returnedPrompts = new DocPrompts();
	bool ContainsScore { get; set; }

	public class DocPrompts
	{
		public List<List<object>> Prompts { get; set; } = new List<List<object>>();
	}

	protected override async Task OnInitializedAsync()
	{
		var jsonString = await Http.GetStringAsync("https://europe-west1-tomanota-374115.cloudfunctions.net/get-prompts?q=" + Title.ToString());
		returnedPrompts.Prompts = JsonSerializer.Deserialize<List<List<object>>>(jsonString);
		ContainsScore = returnedPrompts.Prompts[0].Count < 2 ;
	}

	private void NavigateToQuiz()
	{
		if (Title != null)
		{
			NavigationManager.NavigateTo("quiz/" + Title);
		}
	}
}
